.lightseagreen {
    border-color: lightseagreen;
    background: lightseagreen;
}
.darkgreen {
    border-color: darkgreen;
    background: darkgreen;
}
.darkred {
    border-color: darkred;
    background: darkred;
}
.purple {
    border-color: purple;
    background: purple;
}
.dodgerblue {
    border-color: dodgerblue;
    background: dodgerblue;
}
.darkslategray {
    border-color: darkslategray;
    background: darkslategray;
}
.dimgray {
    border-color: dimgray;
    background: dimgray;
}