.wrapper-index {
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    display: flex;
    height: 100%;

    .user-welcome {
        margin-bottom: 10%;
        font-size: 3rem;

        .username {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            padding: 0.5rem 1rem;
            border-radius: 1rem;
        }
    }

    .existing-rooms {
        justify-content: center;
        margin: 1% auto 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        width: 60%;

        .room-join, .room-join:focus {
            box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.5);
        }

        .room-join {
            background-image:
                -webkit-linear-gradient(dodgerblue, rgba(135, 60, 255, 0.0) 0%), 
                -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.25) 45%, dodgerblue 0%);

            transition: background-image 0.35s ease-in-out, background-size 0.35s ease-out, background-position-x 0.35s ease-out;
            justify-content: space-between;
            background-position-x: 100%;
            background-size: 205%;
            padding: 0.5rem 1rem;
            position: relative;
            width: fit-content;
            overflow: hidden;
            font-size: 2rem;
            display: flex;
            margin: 2rem;

            &:hover {
                background-position-x: 0;
                background-size: 255%;
                color: white;
            }

            @keyframes circlePulse {
                0% {
                    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
                }
                100% {
                    box-shadow: 0 0 0 1rem transparent;
                }
            }

            * {
                margin: auto 0;
            }

            span {
                margin-bottom: 0.25rem;
            }

            .circle {
                animation: circlePulse 3s infinite;
                background: lightgreen;
                border-radius: 50%;
                margin-left: 2rem;
                font-size: 1rem;
                height: 1rem;
                width: 1rem;
            }
        }
    }

    .room-create {
        transition: background 0.15s ease-in-out;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        border: 2px solid transparent;
        margin-bottom: 0.25rem;
        padding: 0.5rem 1rem;
        background: green;
        font-size: 2rem;

        @keyframes borderPulse {
            50% {
                border-color: white;
            }
            100% {
                border-color: transparent;
            }
        }

        &:hover {
            background: rgb(0, 105, 0);
            animation: borderPulse 2s infinite;
            color: white;
        }
    }
}