#login-wrapper {
    transform: translate(-50%, -50%);
    justify-content: center;
    position: absolute;
    display: flex;
    width: 15%;
    left: 50%;
    top: 50%;

    ::selection {
        color: dodgerblue;
        background: none;
    }

    #login {
        flex-direction: column;
        border-radius: 0.5rem;
        background: white;
        padding: 3rem 2rem;
        display: flex;
        width: 100%;

        h1 {
            margin-bottom: 1.5rem;
            text-align: center;
            user-select: none;
            color: black;
        }

        .form-error {
            margin-bottom: 1rem;
            text-align: center;
            font-weight: bold;
            color: red;
        }


        .form-row {
            flex-direction: column;
            position: relative;
            margin: 1rem 0;
            display: flex;

            .field-error {
                margin-bottom: 1rem;
                font-weight: bold;
                color: red;
            }

            label {
                transition: bottom 0.25s ease-in-out, font-size 0.25s ease-in-out;
                color: rgb(200, 200, 200);
                letter-spacing: 1px;
                position: absolute;
                user-select: none;
                bottom: 0.25rem;
                cursor: text;
                margin: 0;

                &.stay {
                    pointer-events: none;
                    font-size: 0.65rem;
                    bottom: 1.75rem;
                    cursor: default;
                }
            }

            input {
                border: 0;
                border-bottom: 1px solid rgb(200, 200, 200);
                transition: border-color 0.25s ease-in-out;
                position: relative;
                padding: 0.25rem 0;
                border-radius: 0;
                background: none;
                color: black;
                width: 100%;

                &:focus {
                    border-color: dodgerblue;

                    ~ label {
                        pointer-events: none;
                        font-size: 0.7rem;
                        bottom: 1.75rem;
                        cursor: default;
                    }
                }
            }
        }

        #login-submit {
            transition: background 0.15s ease-in-out;
            background: dodgerblue;
            margin-top: 1.5rem;
            user-select: none;
            border-radius: 0;
            padding: 0.5rem;
            outline: 0;

            &:hover {
                background: rgb(20, 103, 185);
            }

            &[disabled] {
                background: black;
                opacity: 0.5;
            }
        }
    }
}