#login-wrapper {
    @include centerSelf;
    width: 15%;

    #login {
        border: 2px solid black;
        border-radius: 0.25rem;
        background: white;
        @include column;
        padding: 2rem;
        width: 100%;

        .login-banner {
            @include centerChildren('horizontal');
            margin-bottom: 2rem;
        }

        .form-error {
            margin-bottom: 1rem;
            text-align: center;
            font-weight: bold;
            color: red;
        }

        .form-row {
            position: relative;
            @include column;
            margin: 1rem 0;

            &.error {
                label {
                    color: red !important;
                }

                input {
                    border-color: red !important;
                }
            }

            .field-error {
                margin-bottom: 1.25rem;
                font-weight: bold;
                color: red;
            }

            label.stay, input:focus ~ label {
                pointer-events: none;
                font-size: 0.7rem;
                bottom: 2.25rem;
                cursor: default;
                color: $primary;
            }

            label {
                transition: bottom 0.25s ease-in-out, font-size 0.25s ease-in-out, color 0.25s ease-in-out;
                color: rgb(200, 200, 200);
                letter-spacing: 1px;
                position: absolute;
                user-select: none;
                bottom: 0.5rem;
                cursor: text;
                margin: 0;
            }

            input {
                border: 0;
                border-bottom: 1px solid rgb(200, 200, 200);
                transition: border-color 0.25s ease-in-out;
                position: relative;
                padding: 0.5rem 0;
                border-radius: 0;
                background: none;
                color: black;
                width: 100%;

                &:focus {
                    border-color: $primary;
                }
            }
        }

        #login-submit {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
            transition: background 0.15s ease-in-out;
            background: $primary;
            user-select: none;
            border-radius: 0;
            margin-top: 2rem;
            padding: 0.5rem;
            outline: 0;

            &:hover {
                background: $primaryDark;
            }

            &[disabled] {
                background: black;
                opacity: 0.25;
            }
        }
    }
}