@import 'index';

body {
    background: rgb(20, 20, 20);
    overflow-x: hidden;
    font-size: 0.9rem;
    color: white;
    height: 100vh;
}

p {
    color: white;
    margin: 0;
}

input, button {
    transition: border-color 0.15s ease-in-out;
    vertical-align: middle;
    border-radius: 0.25rem;
    color: white;
    outline: 0;
    border: 0;
}

input, input.form-control {
    border: 1px solid rgb(35, 35, 35);
    background: rgb(30, 30, 30);
    padding: 0 0.5rem;
    color: white;
    flex: 1;

    &:focus {
        background: rgb(30, 30, 30);
        border-color: dodgerblue;
    }
}

#wrapper {
    flex-direction: column;
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
}

#videoWrapper {
    background: black;
    object-fit: contain;
    width: 100%;
}

.plyr {
    flex: 1;
}

#theatre {
    flex-direction: row;
    display: flex;
    height: 100%;
    width: 100%;
}

#chat {
    flex-direction: column;
    margin-left: auto;
    width: 26.6rem;
    padding: 1rem;
    display: flex;
}

#chat-send, #chat-messages, #online-users {
    border: 1px solid rgb(35, 35, 35);
}

#chat-send:focus {
    border-color: dodgerblue;
}

#chat-messages {
    background: rgb(30, 30, 30);
    flex-direction: column;
    overflow-y: auto;
    display: flex;
    flex: 1;

    &::-webkit-scrollbar {
        border-radius: 1rem;
        width: 0.5rem;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: dodgerblue;
        border-radius: 0.5rem;
    }
}

#chat-controls, #chat-input {
    margin-top: 1rem;
}

#chat-submit {
    flex-direction: row;
    display: flex;
}

#chat-send-button {
    margin-left: 0.25rem;
}

.message-author, #online-users .username {
    letter-spacing: 1px;
    height: fit-content;
    text-align: center;
    position: relative;
    user-select: none;
    font-weight: bold;
    min-width: 2.5rem;
}

.message-author, .message-content, .online-user {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    color: white;
}

.message {
    flex-direction: row;
    padding: 0.5rem;
    display: flex;

    &:nth-child(odd) {
        background: rgb(25, 25, 25);
    }

    .message-author {
        position: relative;

        .user-crown {
            transform: rotate(-45deg);
            position: absolute;
            left: -0.5rem;
            top: -0.5rem;
        }

        &::after {
            border-left: 0.5rem solid;
            border-color: inherit;
            border-bottom: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
            border-top: 0.5rem solid transparent;
            right: calc(2px - 1rem);
            position: absolute;
            top: 0.45rem;
            content: '';
            height: 0;
            width: 0;
        }
    }

    .message-content {
        word-break: break-word;
        margin-left: 1.5rem;
        height: fit-content;
    }
}

.btn {
    background: dodgerblue;
    padding: 0.25rem 0.5rem;
    width: fit-content;
    user-select: none;
    min-height: 2rem;
    min-width: 2rem;
    color: white;
    outline: 0;
    border: 0;

    &:hover {
        color: black;
    }

    &:focus {
        box-shadow: none;
    }

    * {
        margin: auto;
    }
}

.tooltip {
    opacity: 1 !important;
}

.close {
    outline: 0 !important;
}

.fa-youtube {
    color: red;
}

.input-group-text {
    font-size: 0.9rem;

    i {
        font-size: 1.5rem;
    }
}

#online-users {
    background: rgb(30, 30, 30);
    min-height: calc(4rem + 1px);
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 0;
    display: flex;
    padding: 0;

    .online-user {
        flex-direction: column;
        border-radius: 50%;
        position: relative;
        padding: 0.75rem;
        display: flex;
        margin: 1rem;
        width: 3rem;

        .user-crown {
            transform: translateX(-50%);
            position: absolute;
            top: -0.75rem;
            left: 50%;
        }

        .username {
            min-width: unset;
            margin: auto;
        }

        .dots {
            justify-content: center;
            position: absolute;
            font-size: 2rem;
            bottom: 0.25rem;
            line-height: 1;
            display: flex;
            width: 100%;
            left: 0;

            span {
                animation: bounce 2s linear infinite;
                opacity: 0;

                &:nth-child(2) {
                    animation-delay: 0.15s;
                }

                &:nth-child(3) {
                    animation-delay: 0.25s;
                }

                @keyframes bounce {
                    25% {
                        opacity: 1;
                    }
                    50% {
                        opacity: 0;
                    }
                }
            }
        }
    }
}

.modal {
    margin-top: 15%;

    .modal-dialog {
        max-width: 600px;

        .modal-content {
            border-color: rgb(35, 35, 35);
            border-top: 3px solid dodgerblue;
            background: rgb(30, 30, 30);
        }

        .modal-header {
            padding: 0;
            border: 0;

            .modal-title, .close {
                margin: auto 0;
            }

            .modal-title {
                padding-left: 1rem;
            }

            .close {
                margin-bottom: 0.25rem;
                text-shadow: none;
                color: white;

                &:hover {
                    color: dodgerblue;
                    opacity: 1;
                }
            }
        }

        .modal-body {
            input {
                color: white;
            }

            .input-group-text {
                border-color: rgb(35, 35, 35);
                color: black;
            }
        }
    }
}