@import 'variables';
@import 'mixins';
@import 'index';
@import 'login';

html {
    height: 100vh;
}

body {
    background: $body-bg;
    overflow-x: hidden;
    font-size: 0.9rem;
    @include column;
    color: white;
    height: 100%;
}

ul, ol, dl {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: $primary;
    padding: 0;
    margin: 0;

    &:hover {
        color: $primaryDark;
    }
}

::selection {
    background: rgba(35, 35, 35, 0.85);
    color: $primary;
}

iframe {
    height: 100%;
    width: 100%;
    border: 0;
}

img, ::placeholder {
    user-select: none;
}

p {
    margin: 0;
}

input, button {
    transition: border-color 0.15s ease-in-out;
    vertical-align: middle;
    border-radius: 0.25rem;
    color: white;
    outline: 0;
    border: 0;
}

input, input.form-control {
    border: 1px solid rgb(35, 35, 35);
    background: rgb(30, 30, 30);
    padding: 0 0.5rem;
    color: white;
    flex: 1;

    &:focus {
        background: rgb(30, 30, 30);
        border-color: $primary;
    }
}

#wrapper {
    @include column;
    margin: auto;
    height: 100%;
    width: 100%;
}

#videoWrapper {
    background: black;
    object-fit: contain;
    width: 100%;
}

#theatre {
    @include row;
    margin: 1rem;
    height: 100%;
}

#theatre-left {
    margin-right: 1rem;
    @include column;
    flex: 1;
}

#chat {
    margin-left: auto;
    @include column;
    width: 26.6rem;
}

#playlist {
    @include gray;
    height: 20vh;
}

#chat-send, #chat-messages, #online-users {
    border: 1px solid rgb(35, 35, 35);
}

#chat-send:focus {
    border-color: $primary;
}

#chat-messages {
    background: rgb(30, 30, 30);
    overflow-y: auto;
    @include column;
    flex: 1;

    &::-webkit-scrollbar {
        width: 0.5rem;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: $primary;
    }
}

#chat-controls, #chat-input {
    margin-top: 1rem;
}

#chat-submit {
    @include row;
}

#chat-send-button {
    margin-left: 0.25rem;
}

.message-author, #online-users .username {
    letter-spacing: 1px;
    height: fit-content;
    text-align: center;
    position: relative;
    font-weight: bold;
    min-width: 2.5rem;
}

.message-author, .message-content, .online-user {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    color: white;
}

.message {
    padding: 0.5rem;
    @include row;

    &:nth-child(odd) {
        background: rgb(25, 25, 25);
    }

    .message-timestamp {
        @include centerAll('vertical');
        margin-right: 1rem;
        width: 2.5rem;
    }

    .message-author {
        position: relative;

        .user-crown {
            transform: rotate(-45deg);
            position: absolute;
            left: -0.5rem;
            top: -0.5rem;
        }

        &::after {
            border-left: 0.5rem solid;
            border-color: inherit;
            border-bottom: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
            border-top: 0.5rem solid transparent;
            right: calc(2px - 1rem);
            position: absolute;
            top: 0.45rem;
            content: '';
            height: 0;
            width: 0;
        }
    }

    .message-content {
        word-break: break-word;
        height: fit-content;
        margin: 0 1.5rem;
    }
}

.btn {
    padding: 0.25rem 0.5rem;
    background: $primary;
    width: fit-content;
    user-select: none;
    min-height: 2rem;
    min-width: 2rem;
    color: white;
    outline: 0;
    border: 0;

    &:hover {
        background: $primaryDark;
        color: white;
    }

    &:focus {
        box-shadow: none;
    }

    * {
        margin: auto;
    }
}

.tooltip {
    opacity: 1 !important;
}

.close {
    outline: 0 !important;
}

.fa-youtube {
    color: red;
}

.input-group-text {
    font-size: 0.9rem;

    i {
        font-size: 1.5rem;
    }
}

#online-users {
    background: rgb(30, 30, 30);
    min-height: calc(4rem + 1px);
    padding: 0 0.75rem;
    flex-wrap: wrap;
    border-top: 0;
    @include row;

    .online-user {
        margin: 1rem 0.35rem;
        border-radius: 50%;
        position: relative;
        padding: 0.75rem;
        @include column;
        width: 3rem;

        .user-crown {
            transform: translateX(-50%);
            position: absolute;
            top: -0.75rem;
            left: 50%;
        }

        .username {
            transform: translateX(-50%);
            align-self: baseline;
            min-width: unset;
	        left: 50%;
        }

        .dots {
            @include centerAll('horizontal');
            position: absolute;
            user-select: none;
            font-size: 2rem;
            bottom: 0.25rem;
            line-height: 1;
            width: 100%;
            left: 0;

            span {
                animation: bounce 2s linear infinite;
                opacity: 0;

                &:nth-child(2) {
                    animation-delay: 0.15s;
                }

                &:nth-child(3) {
                    animation-delay: 0.25s;
                }

                @keyframes bounce {
                    25% {
                        opacity: 1;
                    }
                    50% {
                        opacity: 0;
                    }
                }
            }
        }
    }
}

#controls {
    justify-content: center;
    margin: 1rem 0 0.5rem 0;
    @include row;

    .btn {
        margin: 0 0.25rem;
    }
}

#add-video {
    margin: 0 auto 0.5rem auto;
    width: 34%;

    .input-group-text, #youtubeUrl {
        border-radius: 0;
    }
}

.navbar {
    background: rgb(30, 30, 30);
    @include shadow;
    padding: 0;

    .nav-list {
        @include row;
        height: 100%;

        .nav-item {
            border-bottom: 2px solid transparent;
            transition: border 0.15s ease-in-out;

            &:hover {
                border-bottom: 2px solid $primaryTransparent;

                .nav-link {
                    color: $primary;
                }
            }
            
            &.active {
                border-bottom: 2px solid $primary;

                .nav-link {
                    color: $primary;
                }
            }

            .nav-link {
                transition: color 0.15s ease-in-out;
                padding: 1rem 1.5rem;
                color: white;
            }
        }
    }
}