.wrapper-index {
  display: flex;
  align-items: center;
  padding-top: 4rem;
  flex-direction: column;
  display: flex;
  height: 100%;
}

.wrapper-index .user-welcome {
  font-size: 3rem;
}

.wrapper-index .user-welcome .username {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.wrapper-index .existing-rooms {
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: row;
  display: flex;
  width: 80%;
}

.wrapper-index .existing-rooms .room-join,
.wrapper-index .existing-rooms .room-join:focus {
  box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.5);
}

.wrapper-index .existing-rooms .room-join {
  transition: background-image 0.35s ease-in-out, background-size 0.35s ease-out, background-position-x 0.35s ease-out;
  background-image: -webkit-linear-gradient(dodgerblue, rgba(135, 60, 255, 0) 0%), -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 45%, dodgerblue 0%);
  justify-content: space-between;
  background-position-x: 100%;
  background-size: 205%;
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  margin: 1% 2.5%;
  display: flex;
  width: 20%;
}

.wrapper-index .existing-rooms .room-join:hover {
  background-position-x: 0;
  background-size: 255%;
  color: white;
}

@-webkit-keyframes circlePulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
  }

  100% {
    box-shadow: 0 0 0 1rem transparent;
  }
}

@keyframes circlePulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
  }

  100% {
    box-shadow: 0 0 0 1rem transparent;
  }
}

.wrapper-index .existing-rooms .room-join * {
  margin: auto 0;
}

.wrapper-index .existing-rooms .room-join .circle {
  -webkit-animation: circlePulse 3s infinite;
          animation: circlePulse 3s infinite;
  background: lightgreen;
  border-radius: 50%;
  margin-left: 2rem;
  font-size: 1rem;
  height: 1rem;
  width: 1rem;
}

.wrapper-index .new-room {
  border-radius: 0.25rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  display: flex;
  margin: 4rem 0;
  border: 1px solid #232323;
  background: #1e1e1e;
  border-radius: 0.25rem;
  padding: 2rem;
}

.wrapper-index .new-room .form-error {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  color: red;
}

.wrapper-index .new-room .form-row {
  position: relative;
  flex-direction: column;
  display: flex;
  margin: 1rem 0;
}

.wrapper-index .new-room .form-row.error label {
  color: red !important;
}

.wrapper-index .new-room .form-row.error input {
  border-color: red !important;
}

.wrapper-index .new-room .form-row .field-error {
  margin-bottom: 1.25rem;
  font-weight: bold;
  color: red;
}

.wrapper-index .new-room .form-row label.stay,
.wrapper-index .new-room .form-row input:focus ~ label {
  pointer-events: none;
  font-size: 0.7rem;
  bottom: 2.25rem;
  cursor: default;
  color: dodgerblue;
}

.wrapper-index .new-room .form-row label {
  transition: bottom 0.25s ease-in-out, font-size 0.25s ease-in-out, color 0.25s ease-in-out;
  color: #c8c8c8;
  letter-spacing: 1px;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  bottom: 0.5rem;
  cursor: text;
  margin: 0;
}

.wrapper-index .new-room .form-row input {
  border: 0;
  border-bottom: 1px solid #c8c8c8;
  transition: border-color 0.25s ease-in-out;
  position: relative;
  padding: 0.5rem 0;
  border-radius: 0;
  background: none;
  color: white;
  width: 100%;
}

.wrapper-index .new-room .form-row input:focus {
  border-color: dodgerblue;
}

.wrapper-index .new-room .room-create {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  transition: background 0.15s ease-in-out, transform 0.15s ease-in-out;
  background: dodgerblue;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 100%;
  outline: 0;
}

.wrapper-index .new-room .room-create:hover:not([disabled]) {
  transform: scale(1.03);
}

.wrapper-index .new-room .room-create[disabled] {
  background: black;
  opacity: 0.25;
}

#login-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 15%;
}

#login-wrapper #login {
  border: 2px solid black;
  border-radius: 0.25rem;
  background: white;
  flex-direction: column;
  display: flex;
  padding: 2rem;
  width: 100%;
}

#login-wrapper #login .login-banner {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

#login-wrapper #login .form-error {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  color: red;
}

#login-wrapper #login .form-row {
  position: relative;
  flex-direction: column;
  display: flex;
  margin: 1rem 0;
}

#login-wrapper #login .form-row.error label {
  color: red !important;
}

#login-wrapper #login .form-row.error input {
  border-color: red !important;
}

#login-wrapper #login .form-row .field-error {
  margin-bottom: 1.25rem;
  font-weight: bold;
  color: red;
}

#login-wrapper #login .form-row label.stay,
#login-wrapper #login .form-row input:focus ~ label {
  pointer-events: none;
  font-size: 0.7rem;
  bottom: 2.25rem;
  cursor: default;
  color: dodgerblue;
}

#login-wrapper #login .form-row label {
  transition: bottom 0.25s ease-in-out, font-size 0.25s ease-in-out, color 0.25s ease-in-out;
  color: #c8c8c8;
  letter-spacing: 1px;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  bottom: 0.5rem;
  cursor: text;
  margin: 0;
}

#login-wrapper #login .form-row input {
  border: 0;
  border-bottom: 1px solid #c8c8c8;
  transition: border-color 0.25s ease-in-out;
  position: relative;
  padding: 0.5rem 0;
  border-radius: 0;
  background: none;
  color: black;
  width: 100%;
}

#login-wrapper #login .form-row input:focus {
  border-color: dodgerblue;
}

#login-wrapper #login #login-submit {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  transition: background 0.15s ease-in-out;
  background: dodgerblue;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0;
  margin-top: 2rem;
  padding: 0.5rem;
  outline: 0;
}

#login-wrapper #login #login-submit:hover {
  background: #1467b9;
}

#login-wrapper #login #login-submit[disabled] {
  background: black;
  opacity: 0.25;
}

html {
  height: 100vh;
}

body {
  background: #141414;
  overflow-x: hidden;
  font-size: 0.9rem;
  color: white;
}

ul,
ol,
dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: dodgerblue;
  padding: 0;
  margin: 0;
}

a:hover {
  color: #1467b9;
}

::-moz-selection {
  background: rgba(35, 35, 35, 0.85);
  color: dodgerblue;
}

::selection {
  background: rgba(35, 35, 35, 0.85);
  color: dodgerblue;
}

iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

::-moz-placeholder {
  -moz-user-select: none;
       user-select: none;
}

:-ms-input-placeholder {
  -ms-user-select: none;
      user-select: none;
}

::-ms-input-placeholder {
  -ms-user-select: none;
      user-select: none;
}

img,
::placeholder {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

p {
  margin: 0;
}

input,
button {
  transition: border-color 0.15s ease-in-out;
  vertical-align: middle;
  border-radius: 0.25rem;
  color: white;
  outline: 0;
  border: 0;
}

input,
input.form-control {
  border: 1px solid #232323;
  background: #1e1e1e;
  padding: 0 0.5rem;
  color: white;
  flex: 1;
}

input:focus,
input.form-control:focus {
  background: #1e1e1e;
  border-color: dodgerblue;
}

#videoWrapper {
  background: black;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

#theatre {
  height: 100%;
  margin: 1rem;
}

#theatre-upper {
  flex-direction: row;
  display: flex;
  height: 100%;
}

#playlist,
#chat {
  width: 16.3vw;
}

#chat {
  flex-direction: column;
  display: flex;
}

#wrapper {
  height: calc(100vh - 3.5rem - 2rem - 2rem - 1rem);
}

#player-wrapper {
  flex-direction: column;
  display: flex;
  margin: 0 1rem;
  flex: 1;
}

#playlist {
  border-radius: 0;
  flex-direction: column;
  display: flex;
  overflow: auto;
}

#playlist .playlist-videos {
  border: 1px solid #232323;
  background: #1e1e1e;
  border-radius: 0.25rem;
  border-radius: 0;
  height: 100%;
}

#playlist .playlist-button {
  border-radius: 0;
  background: none;
  margin: 1px 0;
  height: 15vh;
  width: 100%;
  padding: 0;
  outline: 0;
}

#playlist .playlist-button .playlist-video {
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: dodgerblue;
}

::-webkit-scrollbar-track {
  background-color: #141414;
}

#chat-send {
  border: 1px solid #232323;
  background: #1e1e1e;
  border-radius: 0.25rem;
}

#chat-send:focus {
  border-color: dodgerblue;
}

#chat-messages {
  border: 1px solid #232323;
  background: #1e1e1e;
  border-radius: 0.25rem;
  background: #1e1e1e;
  border-radius: 0;
  overflow-y: auto;
  flex-direction: column;
  display: flex;
  flex: 1;
}

#chat-input {
  margin-top: 0.5rem;
}

#chat-submit {
  flex-direction: row;
  display: flex;
}

#chat-send-button {
  margin-left: 0.25rem;
}

.message-author,
#online-users .username {
  letter-spacing: 1px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-width: 2.5rem;
}

.message-author,
.message-content,
.online-user {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  color: white;
}

.message {
  padding: 0.5rem;
  flex-direction: row;
  display: flex;
}

.message:nth-child(odd) {
  background: #191919;
}

.message .message-timestamp {
  padding-top: 0.25rem;
  margin-right: 1rem;
}

.message .message-author {
  position: relative;
}

.message .message-author .user-crown {
  transform: rotate(-45deg);
  position: absolute;
  left: -0.5rem;
  top: -0.5rem;
}

.message .message-author::after {
  border-left: 0.5rem solid;
  border-color: inherit;
  border-bottom: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid transparent;
  right: calc(2px - 1rem);
  position: absolute;
  top: 0.45rem;
  content: "";
  height: 0;
  width: 0;
}

.message .message-content {
  word-break: break-word;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 1.5rem;
}

.btn {
  padding: 0.25rem 0.5rem;
  background: dodgerblue;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  min-height: 2rem;
  min-width: 2rem;
  color: white;
  outline: 0;
  border: 0;
}

.btn:hover {
  background: #1467b9;
  color: white;
}

.btn:focus {
  box-shadow: none;
}

.btn * {
  margin: auto;
}

.tooltip {
  opacity: 1 !important;
}

.close {
  outline: 0 !important;
}

.fa-youtube {
  color: red;
}

.input-group-text {
  font-size: 0.9rem;
  color: black;
}

.input-group-text i {
  font-size: 1.5rem;
}

#online-users {
  background: #1e1e1e;
  margin-top: 0.5rem;
  padding: 0 0.75rem;
  min-height: 5rem;
  flex-wrap: wrap;
  border-top: 0;
  border: 1px solid #232323;
  background: #1e1e1e;
  border-radius: 0.25rem;
  flex-direction: row;
  display: flex;
}

#online-users .online-user {
  margin: 1rem 0.35rem;
  border-radius: 50%;
  position: relative;
  padding: 0.75rem;
  flex-direction: column;
  display: flex;
  width: 3rem;
}

#online-users .online-user .user-crown {
  transform: translateX(-50%);
  position: absolute;
  top: -0.75rem;
  left: 50%;
}

#online-users .online-user .username {
  transform: translateX(-50%);
  align-self: baseline;
  min-width: unset;
  left: 50%;
}

#online-users .online-user .dots {
  display: flex;
  justify-content: center;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 2rem;
  bottom: 0.25rem;
  line-height: 1;
  width: 100%;
  left: 0;
}

#online-users .online-user .dots span {
  -webkit-animation: bounce 2s linear infinite;
          animation: bounce 2s linear infinite;
  opacity: 0;
}

#online-users .online-user .dots span:nth-child(2) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

#online-users .online-user .dots span:nth-child(3) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@-webkit-keyframes bounce {
  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes bounce {
  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

#control-buttons {
  justify-content: center;
  margin-top: 1rem;
  flex-direction: row;
  display: flex;
  height: 2rem;
}

#control-buttons .btn {
  margin: 0 2px;
}

#add-video {
  margin-bottom: 0.5rem;
}

#add-video .input-group-text,
#add-video #youtubeUrl {
  border-radius: 0;
}

.notification {
  -webkit-animation: fade-out 1s 3s forwards;
          animation: fade-out 1s 3s forwards;
  background: #232323;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  flex-direction: row;
  display: flex;
  bottom: 2rem;
  left: 2rem;
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.notification .notification-message {
  flex-direction: row;
  display: flex;
}

.notification .notification-message .notification-username {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  align-self: center;
  margin-left: 1rem;
}

.notification .notification-message .notification-content {
  padding: 0.25rem;
}

.notification .notification-icon {
  align-self: center;
}

.room-name,
.playlist-header {
  margin-bottom: 0.5rem;
  text-align: center;
  padding: 0.45rem 0;
  font-weight: bold;
  border: 1px solid #232323;
  background: #1e1e1e;
  border-radius: 0.25rem;
}

.navbar {
  background: #1e1e1e;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  height: 3.5rem;
  padding: 0;
}

.navbar .nav-list {
  flex-direction: row;
  display: flex;
}

.navbar .nav-list .nav-item {
  border-bottom: 2px solid transparent;
  transition: border 0.15s ease-in-out;
}

.navbar .nav-list .nav-item:hover {
  border-bottom: 2px solid rgba(30, 144, 255, 0.5);
}

.navbar .nav-list .nav-item:hover .nav-link {
  color: dodgerblue;
}

.navbar .nav-list .nav-item.active {
  border-bottom: 2px solid dodgerblue;
}

.navbar .nav-list .nav-item.active .nav-link {
  color: dodgerblue;
}

.navbar .nav-list .nav-item .nav-link {
  transition: color 0.15s ease-in-out;
  padding: 1rem 1.5rem;
  color: white;
}

