.lightseagreen {
  border-color: lightseagreen;
  background: lightseagreen;
}

.darkgreen {
  border-color: darkgreen;
  background: darkgreen;
}

.darkred {
  border-color: darkred;
  background: darkred;
}

.purple {
  border-color: purple;
  background: purple;
}

.dodgerblue {
  border-color: dodgerblue;
  background: dodgerblue;
}

.darkslategray {
  border-color: darkslategray;
  background: darkslategray;
}

.dimgray {
  border-color: dimgray;
  background: dimgray;
}

body {
  background: #e1e1e1;
  font-size: 0.9rem;
  overflow: hidden;
  color: white;
  height: 100vh;
}

p {
  color: white;
  margin: 0;
}

input,
button {
  color: white;
  outline: 0;
  border: 0;
}

#wrapper {
  flex-direction: column;
  display: flex;
  margin: auto;
  height: 100%;
  width: 100%;
}

#videoWrapper {
  background: black;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.plyr {
  flex: 1;
}

#theatre {
  flex-direction: row;
  display: flex;
  height: 100%;
  width: 100%;
}

#chat {
  background: #141414;
  flex-direction: column;
  display: flex;
  padding: 1rem;
  width: 20%;
}

#chat-send,
#chat-messages,
#online-users {
  border: 1px solid #232323;
}

#chat-messages {
  background: #1e1e1e;
  flex-direction: column;
  overflow-y: auto;
  display: flex;
  flex: 1;
}

#chat-messages::-webkit-scrollbar {
  border-radius: 1rem;
  width: 0.5rem;
}

#chat-messages::-webkit-scrollbar-thumb {
  background-color: dodgerblue;
  border-radius: 0.5rem;
}

#chat-controls,
#chat-input {
  margin-top: 1rem;
}

#chat-submit {
  flex-direction: row;
  display: flex;
}

#chat-send {
  transition: border-color 0.15s ease-in-out;
  background: #1e1e1e;
  vertical-align: middle;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  height: 2rem;
  flex: 1;
}

#chat-send:focus {
  border-color: dodgerblue;
}

#chat-send-button {
  margin-left: 0.25rem;
}

.message-author,
#online-users .username {
  letter-spacing: 1px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-width: 2.5rem;
}

.message-author,
.message-content,
.online-user {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  color: white;
}

.message {
  flex-direction: row;
  display: flex;
  padding: 0.5rem;
}

.message:nth-child(even) {
  background: #191919;
}

.message .message-author::after {
  border-left: 0.5rem solid;
  border-color: inherit;
  border-bottom: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid transparent;
  right: calc(2px - 1rem);
  position: absolute;
  content: "";
  top: 0.5rem;
  height: 0;
  width: 0;
}

.message .message-content {
  word-break: break-word;
  margin-left: 1.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.btn {
  box-shadow: none !important;
  background: dodgerblue;
  padding: 0.25rem 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  min-height: 2rem;
  min-width: 2rem;
  color: white;
  outline: 0;
  border: 0;
}

.btn:hover {
  color: black;
}

.btn * {
  margin: auto;
}

.tooltip {
  opacity: 1 !important;
}

.close {
  outline: 0 !important;
}

#online-users {
  background: #1e1e1e;
  min-height: calc(4rem + 1px);
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 0;
  display: flex;
  padding: 0;
}

#online-users .online-user {
  flex-direction: column;
  border-radius: 50%;
  position: relative;
  padding: 0.75rem;
  margin: 0.5rem;
  display: flex;
  width: 3rem;
}

#online-users .online-user .username {
  min-width: unset;
  margin: auto;
}

#online-users .online-user .dots {
  justify-content: center;
  position: absolute;
  font-size: 2rem;
  bottom: 0.25rem;
  line-height: 1;
  display: flex;
  width: 100%;
  left: 0;
}

#online-users .online-user .dots span {
  -webkit-animation: bounce 2s linear infinite;
          animation: bounce 2s linear infinite;
  opacity: 0;
}

#online-users .online-user .dots span:nth-child(2) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

#online-users .online-user .dots span:nth-child(3) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@-webkit-keyframes bounce {
  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes bounce {
  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

#changeVideoModal {
  margin-top: 15%;
}

#changeVideoModal .modal-header {
  padding: 0;
}

#changeVideoModal .modal-header .modal-title,
#changeVideoModal .modal-header .close {
  margin: auto 0;
}

#changeVideoModal .modal-header .modal-title {
  padding-left: 1rem;
}

