.wrapper-index {
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  display: flex;
  height: 100%;
}

.wrapper-index .user-welcome {
  margin-bottom: 10%;
  font-size: 3rem;
}

.wrapper-index .user-welcome .username {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.wrapper-index .existing-rooms {
  justify-content: center;
  margin: 1% auto 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  width: 60%;
}

.wrapper-index .existing-rooms .room-join,
.wrapper-index .existing-rooms .room-join:focus {
  box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.5);
}

.wrapper-index .existing-rooms .room-join {
  background-image: -webkit-linear-gradient(dodgerblue, rgba(135, 60, 255, 0) 0%), -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.25) 45%, dodgerblue 0%);
  transition: background-image 0.35s ease-in-out, background-size 0.35s ease-out, background-position-x 0.35s ease-out;
  justify-content: space-between;
  background-position-x: 100%;
  background-size: 205%;
  padding: 0.5rem 1rem;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  font-size: 2rem;
  display: flex;
  margin: 2rem;
}

.wrapper-index .existing-rooms .room-join:hover {
  background-position-x: 0;
  background-size: 255%;
  color: white;
}

@-webkit-keyframes circlePulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
  }

  100% {
    box-shadow: 0 0 0 1rem transparent;
  }
}

@keyframes circlePulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
  }

  100% {
    box-shadow: 0 0 0 1rem transparent;
  }
}

.wrapper-index .existing-rooms .room-join * {
  margin: auto 0;
}

.wrapper-index .existing-rooms .room-join span {
  margin-bottom: 0.25rem;
}

.wrapper-index .existing-rooms .room-join .circle {
  -webkit-animation: circlePulse 3s infinite;
          animation: circlePulse 3s infinite;
  background: lightgreen;
  border-radius: 50%;
  margin-left: 2rem;
  font-size: 1rem;
  height: 1rem;
  width: 1rem;
}

.wrapper-index .room-create {
  transition: background 0.15s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border: 2px solid transparent;
  margin-bottom: 0.25rem;
  padding: 0.5rem 1rem;
  background: green;
  font-size: 2rem;
}

@-webkit-keyframes borderPulse {
  50% {
    border-color: white;
  }

  100% {
    border-color: transparent;
  }
}

@keyframes borderPulse {
  50% {
    border-color: white;
  }

  100% {
    border-color: transparent;
  }
}

.wrapper-index .room-create:hover {
  background: #006900;
  -webkit-animation: borderPulse 2s infinite;
          animation: borderPulse 2s infinite;
  color: white;
}

#login-wrapper {
  transform: translate(-50%, -50%);
  justify-content: center;
  position: absolute;
  display: flex;
  width: 17.5%;
  left: 50%;
  top: 50%;
}

#login-wrapper ::-moz-selection {
  color: dodgerblue;
  background: none;
}

#login-wrapper ::selection {
  color: dodgerblue;
  background: none;
}

#login-wrapper #login {
  flex-direction: column;
  border-radius: 0.5rem;
  background: white;
  padding: 3rem 2rem;
  display: flex;
  width: 100%;
}

#login-wrapper #login h1 {
  margin-bottom: 1.5rem;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: black;
}

#login-wrapper #login .form-error {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  color: red;
}

#login-wrapper #login .form-row {
  flex-direction: column;
  position: relative;
  margin: 1rem 0;
  display: flex;
}

#login-wrapper #login .form-row .field-error {
  margin-bottom: 1rem;
  font-weight: bold;
  color: red;
}

#login-wrapper #login .form-row label {
  transition: bottom 0.25s ease-in-out, font-size 0.25s ease-in-out;
  color: #c8c8c8;
  letter-spacing: 1px;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  bottom: 0.25rem;
  cursor: text;
  margin: 0;
}

#login-wrapper #login .form-row label.stay {
  pointer-events: none;
  font-size: 0.65rem;
  bottom: 1.75rem;
  cursor: default;
}

#login-wrapper #login .form-row input {
  border: 0;
  border-bottom: 1px solid #c8c8c8;
  transition: border-color 0.25s ease-in-out;
  position: relative;
  padding: 0.25rem 0;
  border-radius: 0;
  background: none;
  color: black;
  width: 100%;
}

#login-wrapper #login .form-row input:focus {
  border-color: dodgerblue;
}

#login-wrapper #login .form-row input:focus ~ label {
  pointer-events: none;
  font-size: 0.7rem;
  bottom: 1.75rem;
  cursor: default;
}

#login-wrapper #login #login-submit {
  transition: background 0.15s ease-in-out;
  background: dodgerblue;
  margin-top: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0;
  padding: 0.5rem;
  outline: 0;
}

#login-wrapper #login #login-submit:hover {
  background: #1467b9;
}

#login-wrapper #login #login-submit[disabled] {
  background: black;
  opacity: 0.5;
}

body {
  background: #141414;
  overflow-x: hidden;
  font-size: 0.9rem;
  color: white;
  height: 100vh;
}

::-moz-selection {
  background: rgba(35, 35, 35, 0.75);
  color: dodgerblue;
}

::selection {
  background: rgba(35, 35, 35, 0.75);
  color: dodgerblue;
}

iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

::-moz-placeholder {
  -moz-user-select: none;
       user-select: none;
}

:-ms-input-placeholder {
  -ms-user-select: none;
      user-select: none;
}

::-ms-input-placeholder {
  -ms-user-select: none;
      user-select: none;
}

img,
::placeholder {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

p {
  color: white;
  margin: 0;
}

input,
button {
  transition: border-color 0.15s ease-in-out;
  vertical-align: middle;
  border-radius: 0.25rem;
  color: white;
  outline: 0;
  border: 0;
}

input,
input.form-control {
  border: 1px solid #232323;
  background: #1e1e1e;
  padding: 0 0.5rem;
  color: white;
  flex: 1;
}

input:focus,
input.form-control:focus {
  background: #1e1e1e;
  border-color: dodgerblue;
}

#wrapper {
  flex-direction: column;
  display: flex;
  margin: auto;
  height: 100%;
  width: 100%;
}

#videoWrapper {
  background: black;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.plyr {
  flex: 1;
}

#theatre {
  flex-direction: row;
  display: flex;
  height: 100%;
  width: 100%;
}

#chat {
  flex-direction: column;
  margin-left: auto;
  width: 26.6rem;
  padding: 1rem;
  display: flex;
}

#chat-send,
#chat-messages,
#online-users {
  border: 1px solid #232323;
}

#chat-send:focus {
  border-color: dodgerblue;
}

#chat-messages {
  background: #1e1e1e;
  flex-direction: column;
  overflow-y: auto;
  display: flex;
  flex: 1;
}

#chat-messages::-webkit-scrollbar {
  width: 0.5rem;
}

#chat-messages::-webkit-scrollbar-thumb {
  background-color: dodgerblue;
}

#chat-controls,
#chat-input {
  margin-top: 1rem;
}

#chat-submit {
  flex-direction: row;
  display: flex;
}

#chat-send-button {
  margin-left: 0.25rem;
}

.message-author,
#online-users .username {
  letter-spacing: 1px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: bold;
  min-width: 2.5rem;
}

.message-author,
.message-content,
.online-user {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  color: white;
}

.message {
  flex-direction: row;
  padding: 0.5rem;
  display: flex;
}

.message:nth-child(odd) {
  background: #191919;
}

.message .message-author {
  position: relative;
}

.message .message-author .user-crown {
  transform: rotate(-45deg);
  position: absolute;
  left: -0.5rem;
  top: -0.5rem;
}

.message .message-author::after {
  border-left: 0.5rem solid;
  border-color: inherit;
  border-bottom: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid transparent;
  right: calc(2px - 1rem);
  position: absolute;
  top: 0.45rem;
  content: "";
  height: 0;
  width: 0;
}

.message .message-content {
  word-break: break-word;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 1.5rem;
}

.btn {
  background: dodgerblue;
  padding: 0.25rem 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  min-height: 2rem;
  min-width: 2rem;
  color: white;
  outline: 0;
  border: 0;
}

.btn:hover {
  background: #1467b9;
  color: white;
}

.btn:focus {
  box-shadow: none;
}

.btn * {
  margin: auto;
}

.tooltip {
  opacity: 1 !important;
}

.close {
  outline: 0 !important;
}

.fa-youtube {
  color: red;
}

.input-group-text {
  font-size: 0.9rem;
}

.input-group-text i {
  font-size: 1.5rem;
}

#online-users {
  background: #1e1e1e;
  min-height: calc(4rem + 1px);
  flex-direction: row;
  padding: 0 0.75rem;
  flex-wrap: wrap;
  border-top: 0;
  display: flex;
}

#online-users .online-user {
  flex-direction: column;
  margin: 1rem 0.35rem;
  border-radius: 50%;
  position: relative;
  padding: 0.75rem;
  display: flex;
  width: 3rem;
}

#online-users .online-user .user-crown {
  transform: translateX(-50%);
  position: absolute;
  top: -0.75rem;
  left: 50%;
}

#online-users .online-user .username {
  transform: translateX(-50%);
  align-self: baseline;
  min-width: unset;
  left: 50%;
}

#online-users .online-user .dots {
  justify-content: center;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 2rem;
  bottom: 0.25rem;
  line-height: 1;
  display: flex;
  width: 100%;
  left: 0;
}

#online-users .online-user .dots span {
  -webkit-animation: bounce 2s linear infinite;
          animation: bounce 2s linear infinite;
  opacity: 0;
}

#online-users .online-user .dots span:nth-child(2) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

#online-users .online-user .dots span:nth-child(3) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@-webkit-keyframes bounce {
  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes bounce {
  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.modal {
  margin-top: 15%;
}

.modal .modal-dialog {
  max-width: 600px;
}

.modal .modal-dialog .modal-content {
  border-color: #232323;
  border-top: 3px solid dodgerblue;
  background: #1e1e1e;
}

.modal .modal-dialog .modal-header {
  padding: 0;
  border: 0;
}

.modal .modal-dialog .modal-header .modal-title,
.modal .modal-dialog .modal-header .close {
  margin: auto 0;
}

.modal .modal-dialog .modal-header .modal-title {
  padding-left: 1rem;
}

.modal .modal-dialog .modal-header .close {
  margin-bottom: 0.25rem;
  text-shadow: none;
  color: white;
}

.modal .modal-dialog .modal-header .close:hover {
  color: dodgerblue;
  opacity: 1;
}

.modal .modal-dialog .modal-body input {
  color: white;
}

.modal .modal-dialog .modal-body .input-group-text {
  border-color: #232323;
  color: black;
}

.notification {
  -webkit-animation: fade-out 1s 3s forwards;
          animation: fade-out 1s 3s forwards;
  box-shadow: 0 0 5px 1px black;
  background: #232323;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  flex-direction: row;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  bottom: 1rem;
  left: 1rem;
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.notification .notification-message {
  flex-direction: row;
  display: flex;
}

.notification .notification-message .username {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  align-self: center;
}

.notification .notification-icon {
  margin-right: 0.5rem;
  align-self: center;
}

.room-name {
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

